*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

header,footer{
background-color: #1f2937;
}

img{
    height: 100px;
    width: 100px;
}

header h1{
font-size: 48px;
font-weight:bolder ;
color: #f9faf8;
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    height: 40px;
    width: 70px;

}
nav ul{
    width: 450px;
    display: flex;
    justify-content: space-around;
}

li{

    list-style: none;
}


li, header p{
    color: #e5e7eb;
    font-size: 18px;
}

.header-div{
    width:90% ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 80px;
}


.header-div-section{
width: 400px;

}

.mesa{
    width: 500px;
height: 200px;

}

button{
background-color: #3882f6;
color: #e5e7eb;
width: 100px;
height: 40px;
border-radius: 10px;
margin-top: 10px;
font-weight:bolder ;
color: #f9faf8;
border: none;

}


.section_1{
padding: 50px;

}

.section_1 h1{
    font-size: 36px;
    font-weight:bolder ;
    color: #1f2937;
    margin:40px auto;
    text-align: center;
    
}
.cards{
    margin:10px auto;

display: flex;
width: 70%;
justify-content: space-around;

}
.card{
    width: 150px;


}

.arbol{

width: 150px;
height: 150px;

}

.card p{

text-align: center;


}
.section_2 {
    background-color: #e5e7eb;
    padding: 150px;
    
}

.section_2-div{
    width: 70%;
    margin:0 auto ;
}
.section_2-div-p{
    font-size: 36px;
    font-weight:lighter ;
    font-style: italic;
    color: #1f2937
}

.thor{
    font-size: 36px;

color: black;
font-weight:bolder ;
float: right;
margin-top: 10px;

}

.section_3{
padding: 200px;

}

.section_3-div{
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    width: 90%;
    margin: 10px auto;
    padding: 30px;
    border-radius: 5px;
    color: #e5e7eb;
}

.section_3-div button{
    border:3px solid #e5e7eb ; 


}