*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

header,footer{
background-color: #1f2937;
}

img{
    height: 100px;
    width: 100px;
}

header h1{
font-size: 48px;
font-weight:bolder ;
color: #f9faf8;
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    height: 40px;
    width: 70px;

}
nav ul{
    width: 450px;
    display: flex;
    justify-content: space-around;
}

li{

    list-style: none;
}


li, header p{
    color: #e5e7eb;
    font-size: 18px;
}

.header-div{
    width:90% ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 80px;
}


.header-div-section{
width: 400px;

}

.mesa{
    width: 500px;
height: 200px;

}

button{
background-color: #3882f6;
color: #e5e7eb;
width: 100px;
height: 40px;
border-radius: 10px;
margin-top: 10px;
font-weight:bolder ;
color: #f9faf8;
border: none;

}


.section_1{


}

.section_1 h1{
    font-size: 36px;
    font-weight:bolder ;
    color: #1f2937;
    
}

.section_2 {
    background-color: #e5e7eb;
    
}

.section_2 p{
    font-size: 36px;
    font-weight:lighter ;
    font-style: italic;
    color: #1f2937
}